<%- include('../layout/header') %>
<%- include('../layout/sidebar') %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<i class="fa-solid fa-pen"></i>
<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->

            <div class="container-fluid">
                <%- include('../brands/brands-form') %>
                
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

<%- include('../layout/footer') %>
