<!--! Footer -->
<footer class="footer">
    <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
        <span>Copyright © <%= new Date().getFullYear() %></span>
    </p>
    <p><span>By: <a target="_blank" href="https://wrapbootstrap.com/user/theme_ocean">theme_ocean</a></span></p>
    <div class="d-flex align-items-center gap-4">
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
    </div>
</footer>

<!--! Scripts -->
<script src="/assets/vendors/js/vendors.min.js"></script>
<script src="/assets/vendors/js/apexcharts.min.js"></script>
<script src="/assets/js/common-init.min.js"></script>
<% if (pageScript) { %>
    <script src="/assets/js/<%= pageScript %>"></script>
<% } %>
<script src="/assets/js/theme-customizer-init.min.js"></script>
</body>
</html>